html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
  word-wrap: break-word !important;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.container {
  min-height: calc(100vh);
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  margin-top: 5px;
  margin: 30px 15px;
}
